/* @media screen and (max-width: 414px) and (min-width:320px) {
    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
        margin-top: -400px;
    }
}

@media screen and (max-width: 780px) and (min-width:414px) {
    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
        margin-top: 20px;
    }
} */


.social-links p {
    display: inline;
  }