/* @media screen and (max-width: 414px) and (min-width:320px) {
    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
        margin-top: -400px;
    }
}

@media screen and (max-width: 780px) and (min-width:414px) {
    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
        margin-top: 20px;
    }
} */


.social-links p {
    display: inline;
  }

  .vertical-align {
    display: flex;
    flex-direction: row;
  }
  
  .vertical-align > [class^="col-"],
  .vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;     /* Align the flex-items vertically */
    justify-content: center; /* Optional, to align inner flex-items
                                horizontally within the column  */
  }

  /* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin: auto;
    max-width: 550px;
    max-height: 310px; /
    margin-bottom: 60px;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel .item {
    /* min-height: 275px;  */
    max-width: 550px;
    max-height: 310px;
    background-color: #777;
  }
  .carousel-inner > .item > iframe{
    top: 0;
    left: 0;
    min-width: 100%;
    height: 310px;
  }

  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/** ------------------------------------------- **/
.speaker-block {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.speaker-brand {
  text-align: center;
}

.speaker-brand .speaker-name {
  color: #2a70c6;
  font-size: 1.5em;
  margin-bottom: 1.2em;
}

.speaker-block .speaker-bio {
  margin-top: 1.2em;
}

@media(max-width: 500px) {
  .article {
    padding: 80px 20px;
  }
  .cover-img {
      padding:0 50px;
  }

  .speaker {
    display: block;
    margin: 0 auto;
    min-height: 500px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .speaker-img {
    width: 170px;
    height: 170px;
    margin: 0 auto 20px auto;
  }

  .speaker-content {
    max-width: 100%;
    margin-bottom: 50px;
    -ms-flex: 0 0 start;
      -webkit-box-flex: 0;
        flex: 0 0 start;
  }

  .speaker-name a, .keynote-tag, .speaker-caption {
    text-align: center;
    display: block;
  }

  .keynote-tag, .speaker-caption {
    padding-bottom: 0.5em;
  }

}

.speaker {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 55px;
  margin-bottom: 20px;
}

.speaker-img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.speaker-img-xs {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 1.5em 0 0;
}

img.speaker-img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

figure.twitter-logo img {
  width: 30px;
  height: 30px;
}


/* TITO custom CSS */
.tito-ticket-name{
  text-align: left;
  color: white;
}

.tito-ticket-description{
  color: #0000008f;
  font-size: 12px;
  text-align: left;
}