<section id="fh5co-work" data-section="conduct">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.conduct.title }}{{ . }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate text-left">
							<p>{{ with .Site.Params.conduct.paragraph01}}{{ . | markdownify }}{{ end }}</p>
							<p>{{ with .Site.Params.conduct.paragraph02}}{{ . | markdownify }}{{ end }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate text-left">
						<h3>Need Help?</h3>
						<p>Contact us at <a href="mailto:hello@gophercon.sg">hello@gophercon.sg</a> or any of our volunteers.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
		</div>
	</section>

