<section id="fh5co-home" data-section="home" style="background-image: url(images/full_image_2.jpg);" data-stellar-background-ratio="0.5">
	<div class="gradient"></div>
	<div class="container">
		<div class="text-wrap">
			<div class="text-inner">
				<div class="row home-padding-top">&nbsp;</div>
				<div class="row">
					<h2>The first and largest Go conference in Southeast Asia!</h2>
					<h1>Thank you!</h1>
				</div>
				<div class="row">
					<div class="col-md-12">
						<img src="images/logo-gopherConSg2018-square.png" width="600" class="img-responsive center-block" alt="Cinque Terre" />
					</div>
				</div>
				<!-- <div class="row">
					<div class="row">
						<div class="col-md-12">
							Important Dates and Deadlines
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-md-6 text-right">
							January 20, 2018
						</div>
						<div class="col-xs-6 col-md-6 text-left">
							Regular paper submission
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-md-6 text-right">
							January 28, 2018
						</div>
						<div class="col-xs-6 col-md-6 text-left">
							Acceptance Notification
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-md-6 text-right">
							February 14, 2018
						</div>
						<div class="col-xs-6 col-md-6 text-left">
							Final Paper Submission
						</div>
					</div>
					<div class="row">
						<div class="home-padding"></div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
	<div class="slant"></div>
</section>