<section id="fh5co-home" data-section="home" data-stellar-background-ratio="0.5">
	<div class="gradient"></div>
	<div class="container">
		<div class="text-wrap">
			<div class="text-inner">
				<div class="row">
					<div class="home-padding-top"> &nbsp;</div>
				</div>
				<div class="row">
					<h2>The largest Go programming language conference in Southeast Asia is back!</h2>
				</div>
				<div class="row">
					<div class="col-md-12">
						<img src="images/logo-gopherConSg2018-square.png" width="350" class="img-responsive center-block" alt="Gophercon Singapore 2018"
						/>
					</div>

				</div>
				<div class="row">
					<div class="col-md-12">
						Check out what happened last year!
						<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								{{ range .Site.Params.hero.pastvideo.row }}
								<li data-target="#myCarousel" data-slide-to="{{ .slideto }}" class=""></li>
								{{ end }}
							</ol>
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<iframe src="https://www.youtube.com/embed/Jpgqy8K6cyc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</div>
								{{ range .Site.Params.hero.pastvideo.row }}
								<div class="item">
									<iframe src="{{.video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</div>
								{{ end }}
							</div>
							<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
						<br/>
					</div>
				</div>
				<div class="row">
					<div class="row">
						<p><b>Workshops</b> <br/> 9am to 6pm, registration starts at 8:30am  <br/> 2 and 3 May 2018<br/>Lifelong Learning Institute, 11 Eunos Rd 8, Singapore 408601</p>
					</div>
					<div>
						<p><b>Conference</b> <br/>9am to 6:30pm, registration starts at 8am  <br/> 4 May 2018<br/> Marina Bay Sands Expo & Convention Centre</p>
					</div>
					<div class="col-md-12">
						<a href="#fh5co-ticket" class="btn btn-primary btn-xl hero-btn">Get Your Tickets</a>
					</div>
				</div>
				<div class="row">
					<div class="home-padding"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="slant"> </div>
</section>