<section id="fh5co-home" data-section="home" style="background-image: url(images/full_image_2.jpg);" data-stellar-background-ratio="0.5">
	<div class="gradient"></div>
	<div class="container">
		<div class="text-wrap">
			<div class="text-inner">
				<div class="row">
					<div class="home-padding-top"> &nbsp;</div>
				</div>
				<div class="row">
					<h2>The largest Go programming language conference in Southeast Asia is back!</h2>
				</div>
				<div class="row">
					<div class="col-md-12">
						<img src="images/logo-gopherConSg2018-square.png" width="600" class="img-responsive center-block" alt="Gophercon Singapore 2018"
						/>
					</div>
				</div>
				<div class="row"> 
					<div class="col-md-12">
						Workshop - May 03, 2018
					</div>					
					<div class="col-md-12">
						Conference - May 04, 2018
					</div>					
				</div>
				<div class="row"> 

				</div>
				<div class="row">
					<div class="row">
						<div>
							<p><a class="external" target="_blank" href="https://www.youtube.com/watch?v=vvu0df82SJI&list=PLq2Nv-Sh8EbZEjZdPLaQt1qh_ohZFMDj8" >Check out 2017 GopherconSG</a></p>
						</div>
						<div>
							<p>Workshop - May 03, 2018</p>
						</div>
						<div>
							<p>Singapore - May 04, 2018</p>
						</div>
						<div class="col-md-12">
							<p>We are currently soliciting talk proposals from now till 28 Feb 2018.</p>
						</div>
						<div class="col-md-12">
							<a href="https://www.papercall.io/cfps/871/submissions/new" target="_blank" class="btn btn-primary btn-xl hero-btn">Paper Submission</a>
						</div>
					</div>
					<div class="row">
						<div class="home-padding"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="slant"></div>
</section>
