<header role="banner" id="fh5co-header">
    <div class="container">
        <!-- <div class="row"> -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <!-- Mobile Toggle Menu Button -->
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <i></i>
                </a>
                <a class="navbar-brand" href="index.html">{{ with .Site.Params.navigation.brand }}{{ . | markdownify }}{{ end }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    {{ range .Site.Menus.prepend }}
                    <li>
                        <a class="external" href="{{ .URL }}">
                            <span>{{ .Name | markdownify }}</span>
                        </a>
                    </li>
                    {{ end }}

                    <li class="active">
                        <a href="#" data-nav-section="home">
                            <span>{{ with .Site.Params.navigation.home }}{{ . | markdownify }}{{ end }}</span>
                        </a>
                    </li>


                    {{ if .Site.Params.workshop.enable }}
                    <li>
                        <a href="#" data-nav-section="workshop">
                            <span>{{ with .Site.Params.navigation.workshop }}{{ . | markdownify }}{{ end }}</span>
                        </a>
                    </li>
                    {{ end }} {{ if .Site.Params.schedule.enable }}
                    <li>
                        <a href="#" data-nav-section="schedule">
                            <span>{{ with .Site.Params.navigation.schedule}}{{ . | markdownify }}{{ end }}</span>
                        </a>
                    </li>
                    {{ end }} {{ if .Site.Params.venue.enable }}
                    <li>
                        <a href="#" data-nav-section="venue">
                            <span>{{ with .Site.Params.navigation.venue}}{{ . | markdownify }}{{ end }}</span>
                        </a>
                    </li>
                    {{ end }} {{ if .Site.Params.speakers.enable }}
                    <li>
                        <a href="#" data-nav-section="speakers">
                            <span>{{ with .Site.Params.navigation.speakers }}{{ . | markdownify }}{{ end }}</span>
                        </a>
                    </li>
                    {{ end }} {{ if .Site.Params.team.enable }}
                    <li>
                        <a href="#" data-nav-section="team">
                            <span>{{ with .Site.Params.navigation.team}}{{ . | markdownify }}{{ end }}</span>
                        </a>
                    </li>
                    {{ end }} {{ if .Site.Params.conduct.enable }}
                    <li>
                        <a href="#" data-nav-section="conduct">
                            <span>{{ with .Site.Params.navigation.conduct}}{{ . | markdownify }}{{ end }}</span>
                        </a>
                    </li>
                    {{ end }}
                    {{ if .Site.Params.ticket.enable }}
                    <li>
                        <a href="#" data-nav-section="ticket">
                            <span>{{ with .Site.Params.navigation.ticket}}{{ . | markdownify }}{{ end }}</span>
                        </a>
                    </li>
                    {{ end }} 
                    {{ if .Site.Params.pastvideo.enable }}
                    <li>
                        <a href="#" data-nav-section="pastvideo">
                            <span>{{ with .Site.Params.navigation.pastvideo}}{{ . | markdownify }}{{ end }}</span>
                        </a>
                    </li>
                    {{ end }} 
                    {{ range .Site.Menus.postpend }}
                    <li>
                        <a class="external" href="{{ .URL }}">
                            <span>{{ .Name | markdownify }}</span>
                        </a>
                    </li>
                    {{ end }} </ul>
            </div>
        </nav>
        <!-- </div> -->
    </div>
</header>