<section id="fh5co-sponsors" data-section="sponsors">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="to-animate">{{ with .Site.Params.sponsors.title }}{{ . | markdownify }}{{ end }}</h2>
			</div>
		</div>
		<div class="row text-center">
				<div class="col-lg-12 sponsor-logos">
					<div class="platinum-sponsor-logos-row sponsor-row to-animate">
							<div class="text-center">
									<img src="images/logo/grab_logo.png" class="img-responsive platinum-sponsor-logos"></img>
								</div>
						<div class="text-center">
							<img src="images/logo/loomnetwork.jpg" class="img-responsive platinum-sponsor-logos"></img>
						</div>
						<div class="text-center">
							<img src="images/logo/ncs.jpg" class="img-responsive platinum-sponsor-logos"></img>
						</div>
						<div class="text-center">
								<img src="images/logo/gojek_logo.png" class="img-responsive platinum-sponsor-logos"></img>
							</div>
					</div>
					<div class="gold-sponsor-logos-row sponsor-row to-animate">
						<div class="text-center">
							<img src="images/logo/spdigital.png" class="img-responsive gold-sponsor-logos"></img>
						</div>
					</div>
					<div class="silver-sponsor-logos-row sponsor-row to-animate">
							<div class="text-center">
									<img src="images/logo/google_logo.png" class="img-responsive silver-sponsor-logos"></img>
								</div>
							<div class="text-center">
								<img src="images/logo/rakuten.jpg" class="img-responsive silver-sponsor-logos"></img>
							</div>
						</div>
				</div>
		</div>	
	</div>
	<div class="slant"> </div>
</section>