<section id="fh5co-pastvideos" data-section="pastvideo">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">{{ with .Site.Params.pastvideo.title }}{{ . }}{{ end }}</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>{{ with .Site.Params.pastvideo.description }}{{ . | markdownify }}{{ end }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-sm">
            {{ range .Site.Params.pastvideo.row }}
            <div class="col-md-6 col-sm-6 col-xxs-12">
                <div class="fh5co-project-item to-animate">
                    <!-- <a href="images/{{ .img }}" class="fh5co-project-item image-popup to-animate"> -->
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/vvu0df82SJI?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
                    <div class="fh5co-text">
                        <h2>{{ .title }}</h2>
                        <span>{{ .subtitle }}</span>
                    </div>
                    <!-- </a> -->
                </div>
            </div>

            <div class="clearfix visible-sm-block"></div>
            {{ end }}
        </div>
        <div class="row">
            <div class="col-md-12 text-center to-animate">
                <p>2017 Conference talks</p>
            </div>
        </div>
    </div>
</section>